<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marskyer.tuski.moonfinder" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".splash"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appmenu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".features_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".circular_view"
            android:label="@string/title_activity_circular_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".compass"
            android:screenOrientation="portrait" >
        </activity>

        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.INTERNET" />

        <!-- mahedi -->
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <activity
            android:name=".show_pictures"
            android:label="@string/title_activity_show_pictures"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".phase_view"
            android:label="@string/title_activity_phase_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".phase_anim"
            android:label="@string/title_activity_phase_anim"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait" />
        <activity android:name=".ImageDetailActivity" />
        <activity
            android:name=".learn"
            android:label="@string/title_activity_learn"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".azimuth_view"
            android:label="@string/title_activity_azimuth_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".latitude_view"
            android:label="@string/title_activity_latitude_view"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".story_list"
            android:label="@string/title_activity_story_list" >
        </activity>
        <activity
            android:name=".stry_one"
            android:label="@string/title_activity_stry_one" >
        </activity>
        <activity
            android:name=".story_two"
            android:label="@string/title_activity_story_two" >
        </activity>
    </application>

</manifest>
